.are-you-sure-dialog-overlay-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1000;

    justify-content: center;
    align-items: center;
}

.are-you-sure-dialog-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    z-index: 1000;


  /*  background-color: #e0e0e0;*/

    border-radius:1px;
    /*width: 250px;*/
    min-width:30vw;
    max-width: 80vw;
    padding: 24px;
}



/* title */

.are-you-sure-dialog-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;

    font-family: robotoregular, sans-serif;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 20px;
}





/* content */

.are-you-sure-dialog-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    font-family: robotoregular, sans-serif;
    font-size: 18px;
    color: #9E9E9E;
}





/* action buttons */

.are-you-sure-dialog-action-btn-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
    align-content: center;

    margin-top: 20px;
}

.are-you-sure-dialog-action-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: center;

    font-family: robotomedium, sans-serif;
    font-weight: 500;
    font-size:16px;
    padding: 8px 12px;
    margin: 9px 3px;
    text-decoration: none;
    border-radius: 2px;

    cursor: pointer;
    vertical-align: middle;
    color: #3d98ff;
    text-transform: uppercase;
    background-color: transparent;
    outline: 0;
    border: none;
}

.are-you-sure-dialog-action-btn:hover {
    background-color: #EEEEEE;
}