

project-preview {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

}

i {
    margin-right:0 !important;
}

.project-preview-toolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex: 0 1 50px;
    background-color: #1565C0;
    padding:0 15px;
    z-index: 100;
    box-shadow:0 3px 8px rgba(0,0,0,0.26);
}

.project-preview-toolbar-left {
    display: flex;
    flex-direction: row;
    flex: 0 1 2%;
    color:white;
}

.project-preview-logo-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    margin: 0 10px;
    padding:2px 6px;
    align-items: center;
    border-radius: 5px;

}


.project-preview-bars-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size:18px;
    margin: 0 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}



.project-preview-bars-wrapper:hover {
    background-color: #1976D2;
}


.project-preview-home-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    border-radius: 5px;
    padding: 6px;
    align-items: center;
    font-size:18px;
    margin: 0 6px;
    cursor: pointer;
}

.project-preview-home-wrapper:hover {
    background-color: #1976D2;
}


.project-preview-toolbar-right {
    color:white;
    font-size:25px;
    cursor: pointer;
    padding-right:10px;
}

.project-preview-toolbar-right  .menu {
    width:140px;
    margin-right:5px;
}

.project-preview-toolbar-right  .menu .header {
        font-size:14px !important;
}

.project-preview-toolbar-right .menu .item {
    font-size:13px !important;
}



.project-preview-sidebarAndContent {
    display:flex;
    flex: 1 1 0%;

}

.project-preview-sidebar {
    display:flex;
    flex-direction:column;
    flex:0 1 300px;
    max-width:300px;
    background-color:#e8e8e8;
}

.project-preview-sidebar-top {
    padding:0 24px;
}

.project-preview-project-name {
    margin-top:12px;
    background-color:transparent;
}

.project-preview-project-name input{
    max-height:45px;
    max-width:260px !important;
    background-color:transparent !important;
    border:none !important;
    outline:0;
    cursor:pointer;
    text-overflow:ellipsis;
    font-family: "Roboto Mono", Monaco, monospace !important;
    font-size: 1.2rem;
}
.project-preview-project-name input:focus{
    background-color:white !important;
    box-shadow:0 1px 0 rgba(0,0,0,.25) !important;
    z-index:10;
}



.project-preview-board-input {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:12px;
}

.project-preview-board-input input{
    border:none !important;
    box-shadow:0 1px 0 rgba(0,0,0,.25) !important;
    z-index:10;
}

.project-preview-board-input button {
    background-color:#f5f5f5 !important;
    margin-left:2px !important;
    box-shadow:0 1px 0 rgba(0,0,0,.25) !important;
    z-index:10;
}
.project-preview-board-input button:hover {
    background-color:#EEEEEE !important;
}

.project-preview-board-list {
    margin:24px 0;
    padding:0 15px;
    border-top:1px solid #BDBDBD;
}



.project-preview-board-list-tittle {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:27px 0;
    color:#424242;
}



.project-preview-board-list-name {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;

}



.project-preview-board-list-name:hover .project-preview-board-list-name-text {
    color:#212121;
}
.project-preview-board-list-name-item {
    display:flex;
    flex-direction:row;
    flex:1 0 100%;
    cursor:pointer;
    justify-content:space-between;
    padding:5px 1px;
}
.project-preview-board-list-name-item:hover {
    background-color:#BDBDBD;
}

.project-preview-board-list-name-item-edit {
    display:flex;
    flex-direction:row;
    flex:1 0 100%;
    justify-content:space-between;
    padding:5px 1px;
}

.project-preview-board-list-name-item-edit i:hover {
    cursor:pointer;
}

.project-preview-board-list-name-left {
    display:flex;
    flex-direction:row;
    flex:1 0 80%;
}


.project-preview-board-list-name-left p {
    max-width:180px !important;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.project-preview-board-list-name-left input{

    border:none !important;
    min-width:170px;
    max-width:190px !important;
    max-height:25px;
    box-shadow:0 1px 1px rgba(0,0,0,.25) !important;
}


.project-preview-board-list-name p{
    margin-left:10px;
    font-size:14px;
    color:#616161;
}

.project-preview-board-list-name i{
    margin-left:5px;
    font-size:12px;
    color:#9E9E9E;
}

.project-preview-board-list-name-right {
    display:flex;
    flex-direction:row;
    flex:0 1 15%;
}

.project-preview-board-list-name-right i{

    font-size:1em;
    color:#424242;
}

.project-preview-active-board {
    color:#21ba45 !important;
}


.project-preview-content {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    flex:1 1 80%;
    padding:24px 24px;
    margin-bottom:6px;
    overflow-x:auto;
}

.project-preview-content::-webkit-scrollbar {
    height:12px;
}
.project-preview-content::-webkit-scrollbar-track {
    margin:0 9px;
}

.project-preview-content::after {
    content: "\00a0\00a0";
}
.project-preview-status-list-wrapper {
    display:flex;
    flex:0 0 0%;
    align-items:flex-start;;

}


.project-preview-add-list {
    display:flex;
    flex-direction:row;
    align-items:center;
    flex:0 1 250px;
    min-width:250px;
    height:36px;
    margin:0 9px 0 0;
    padding:6px 12px;
    background-color:#E0E0E0;
    border-radius:3px;
    color:#9E9E9E;
    cursor:pointer;
    box-shadow:0 1px 1px rgba(0,0,0,.25);
}
.project-preview-add-list p{
    font-size:0.875rem;
}

.project-preview-add-list:hover {
    background-color:#BDBDBD;
}



.project-preview-add-list-input {
    display:flex;
    flex-direction:column;
    flex:0 1 250px;
    min-width:250px;
    background-color:#E0E0E0;
    border-radius:3px;
    padding:6px 6px;
    box-shadow:0 1px 1px rgba(0,0,0,.25);
    z-index:10;
    margin-right:9px;
}

.project-preview-add-list-input-button {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:6px 3px 0 0;
}
.project-preview-add-list-input-button {

}

.project-preview-add-list-input-button i {
    font-size:1.2rem;
    color:#9E9E9E;
    cursor:pointer;
}

.project-preview-add-list-input-button i:hover {
    color:#424242;
}

