* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}


html, body {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    background-color: #F5F5F5;
    font-size: 16px;
}



ng-outlet {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}



projects-app {

    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}