
<div class="ticket-form-overlay-container">
    <div class="app-modal-mask dark-mask" ng-click="vm.closeHandler()"></div>

    <div class="ticket-form-container">
        <div class="ticket-form-header">
            <div class="ticket-form-title">
                <span>{{vm.title}}</span>
                <p>in list {{vm.listName}}</p>
            </div>
            <div class="ticket-form-exit-icon">
                <i class="fa fa-times-thin fa-2x" aria-hidden="true"  ng-click="vm.closeHandler()"></i>
            </div>
        </div>



        <div class="ticket-form-description">
            <p>Description</p>
            <textarea ng-model="vm.description"></textarea>
        </div>

        <div class="ticket-form-action-buttons-container">
            <div class="ticket-form-action-button-wrapper">
                <button class="mini ui green button" ng-click="vm.save()">Save</button>
            </div>
            <div class="ticket-form-action-button-wrapper">
                <button class="mini ui red button" ng-click="vm.remove()">Remove</button>
            </div>
        </div>





    </div>
</div>

